/* CSS HEX
--black: #000000ff;
--picton-blue: #00AEEFff;
--celtic-blue: #2776D3ff;
--vivid-sky-blue: #00D3FDff; */

@import 'abstracts/functions';
@import 'abstracts/mixins';
@import 'abstracts/variables';

@import 'base/base';
@import 'base/animations';
@import 'base/typography';
@import 'base/utilities';

@import 'components/button';

@import 'layout/header';
@import 'layout/grid';

@import 'pages/home';
